<html>
<head>
  <meta charset="UTF-8">
  <title> RATA'S IRONHACK BLOG</title>
</head>
<body>
  <h1> Welcome to the Rata's Ironhack Blog</h1>
      <h3><%= @post.title %></h3>
      <p><%= @post.show_in_strftime %></p>
      <p><%= @post.post %></p>
      <p>CATHEGORY: <%= @post.category %>  AUTHOR: <%= @post.author %></p>
      

</body>
</html>